@media only screen and (max-width: 840px) {
   body {
      font-size: 15px;
   }
   .content {
      display: block;
   }

   .user-info {
      width: 21.7em;
      height: 13em;
      margin-left: 0;
      padding: 0.2em;
      display: flex;
      flex-direction:row;
      justify-content: space-evenly;
      position: absolute;
      top: -32%;
      left: 0%;
   }

#next-figure {
   margin: 0.4em 0.2em 0.2em;
}

.level-score {
   margin-top: 0.9em;
   padding: 0.8em;
   font-size: 1.3em;
   justify-content: space-between;
}

.main_btn {
   display: none;
}

.logo {
   display: none;
}

.mobile-btn {
   display: block;
}

.btn {
   padding: 0.5em;
   font-size: 1em;
   width: 8em;
   margin-top: 0;
}
   
}

@media only screen and (max-width: 770px) {
   body {
      font-size: 13px;
   }
}

@media only screen and (max-width: 650px) {
   body {
      font-size: 12px;
   }
}

@media only screen and (max-width: 570px) {
   body {
      font-size: 11px;
   }
}

@media only screen and (max-width: 450px) {
   body {
      font-size: 10px;
   }
}

@media only screen and (max-width: 410px) {
   body {
      font-size: 8px;
   }
}


