*,
::after,
::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto Condensed', Arial, Helvetica sans-serif;
   font-size: 16px;
   line-height: 1.5;
   font-weight: bold;
   color: aliceblue;
   padding: 4em;
   height: 100vh;
   background: url(../images/background.jpeg) no-repeat 100% 0%/cover;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}

.user-info,
.mobile-btn,
#play-area{
   border: 0.3em solid rgb(57, 214, 42); 
   background-color: rgb(25, 25, 65);
}

.content {
   position: relative;
   display: flex;
   justify-content: center;
   height: 42em;
   z-index: 1;
}

#play-area {
   max-width: 21.7em;
   display: inline-flex;
   flex-wrap: wrap;
}

.cellStyle {
   border-left: 0.1em solid;
   border-bottom: 0.1em solid;
   border-color: #3cb9eb;
   width: 2.1em;
   height: 2.08em;
   align-content: stretch;
}


.user-info {
   width: 15em;
   height: 100%;
   margin-left: 1em;
   padding: 0.8em;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.info_tab {
   border: 0.1em solid #349da5;
   font-size: 1.5em;
   text-transform: uppercase;
   text-align: center;
}

.next-shape {
   border-bottom: 0.1em solid rgb(176, 216, 31) ;
}

#next-figure {
   margin: 0.5em auto;
   max-width: 7.3em;
   display: flex;
   flex-wrap: wrap;
   border-top: 0.06em solid #3cb9eb;;
   border-right: 0.06em solid #3cb9eb;;
}

.nextCellStyle {
   border-left: 0.06em solid;
   border-bottom: 0.06em solid;
   border-color: #3cb9eb;
   width: 0.9em;
   height: 0.9em;
}


.level-score {
   margin-top: 1.3em;
   border: 0.1em solid #349da5;
   padding: 0.5em;
   font-size: 1.5em;
   display: flex;
   justify-content: space-around;
}

.main_btn {
   flex-direction: column;
   margin-top: 1.3em;
   margin-bottom: 1.3em;
}

.btn {
   background: #9e3573;
   color: rgb(245, 237, 237);
   border: 0.1em solid rgb(225, 242, 39);
   padding: 0.5em;
   font-size: 1.1em;
   width: 11.8em;
   font-weight: bold;
   text-transform: uppercase;
   border-radius: 10px;
   align-self: center;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

.btn:hover{
   border-color: #f1ff5c;
   box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
   cursor: pointer;
}

.logo {
   text-transform: uppercase;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(200, 223, 223);
   margin-bottom: 2em;
   text-align: center;
}

.logo span,
.logo a {
   display: inline-block;
}

.logo a{
   text-decoration: none;
   color: rgb(192, 190, 95);
}

.logo span {
   font-size: 1.5em;
   background: linear-gradient(to bottom, #b92b27, #1565c0);
   width: 5.5em;
   border-radius: 5px;
}

#game-over {
   background-color: rgba(0, 0, 0, 0.8);
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   font-family: 'Black Ops One', cursive,'Playfair Display', serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   display: none;
}

#game-over h2 {
   font-size: 4em;
   font-style: italic;
   color: #82cd39;
   margin-bottom: 5em;
}

#game-over span {
   font-size: 2em;
   color: #98dc21;
   margin-bottom: 20em;
}

#game-over button {
   width: 7em;
   border: 1em solid white;
   padding: 10em 30em;
   background-color: #818D23;
   color: #2123dc;
   border-radius: 9em;
}

#game-over button:hover {
   background-color: #d9f626;
}

.result {
   width: 14em;
   font-size: 24em;
   margin-bottom: 20em;
}
.info_btn {
   justify-content: space-between;
}

.mobile-btn {
   max-width: 22.5em;
   height: 16em;
   padding: 1em;
   margin-top: 0.3em;
   display: none;
}

.game-control-btn {
display: flex;
justify-content: space-around;
margin-bottom: 1em;
}

.arrows {
   margin-bottom: 0.1em;
}

.arrow_btn img {
   width: 1.5em;
   height: 1.5em;
}

.arrow_btn {
   background: rgb(164, 35, 123);
   color: rgb(245, 237, 237);
   border: 0.1em solid rgb(225, 242, 39);
   padding: 0.7em;
   border-radius: 10px;
   display: block;
}

.arrow_btn:hover {
   transform: scale(1.1);
   background-color: rgb(246, 244, 81);
  box-shadow: 0.1em 0.2em 1em #c346dc;
  transform: translate(0.1em);
}

.up_arrow {
   margin: 0 auto;
}

.other_arrows {
   display: flex;
   justify-content: center;
   position: relative;
   gap: 5em;
}

.down-arrow-btn {
   position: absolute;
   bottom: -100%;
   left: 42%;
}
